<html>
    <head>
        <title>汽车联盟</title>
        <link rel="stylesheet" href="{{ static_url('css/reset.css') }}">
        <link rel="stylesheet" href="{{ static_url('css/main.css') }}">
    </head>
    <body>
        <header>
            <div class="topBar">
                <div class="comWidth">
                    <div class="leftArea">
                        <a href="#" class="collection">收藏本站</a>
                    </div>
                    <div class="rightArea">
                        <span>欢迎来到本站<span>
                    </div>
                </div>
            </div>
            <div class="logoBar">
                    <div class="comWidth">
                        <div class="logo fl">
                            <a href="#"><img src="{{ static_url('pic/logo.png')}}" alt="汽车联盟"></a>
                        </div>
                    <div class="searchBox fl">
                        <input type="text" class="searchText fl">
                        <input type="button" value="搜 索" class="searchButton fr">
                    </div>
                    <div class="shopCar fr">
                        <span class="shopText"> 购物车 </span>
                        <span class="shopNum"> 0 </span>
                    </div>
                </div>
            </div>
            <div class="navBox">
                <div class="comWidth">
                    <div class="shopClass">
                        <h3> 商品分类</h3>
                    </div>
                    <ul class="nav">
                        <li><a href="#">Hello</a><li>
                        <li><a href="#">Hello</a><li>
                        <li><a href="#">Hello</a><li>
                        <li><a href="#">Hello</a><li>
                        <li><a href="#">Hello</a><li>
                    </ul>
                </div>
            </div>
        </header>
    </body>
</html>
